
.link-sidebar{
    display: flex;
    font-size: 15px;
    align-items: center;
    text-decoration: none;
}

._icon-icq:before {
    position: absolute;
    content:  "";
    background: url("../../../images/icons/logoICQ.png") no-repeat;
    background-size: 25px 25px;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);

}

._icon-icq{
    position: relative;
    margin-left: 40px;
}

.link-sidebar:hover{
    text-decoration: underline;
}