.link-category{

    font-size: 15px;
    text-decoration: none;
    color: black;
}

.link-category:focus{
    font-weight: bold;
    color: #1482d0;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #1482d0;
}