*{
    font-family: Tahoma;
}
/*link header*/
.link {
    font-size: 12px;
    text-decoration: none;
}
._bold{
    font-weight: bold;
}
._hover-orange:hover {
    color: #f8ad6f;
}
._s{

}
._m{

}
._l{
    font-size: 15px;
}
._underline:hover{
    text-decoration: underline;
}