/*nav Левое меню*/

.nav-aside{
    display: flex;
    flex-direction: column;
}

.nav-aside__item{

    position:relative;
    margin-top: 2px;
    margin-bottom: 9px;
    margin-left: 40px;
    background-color: #acacac;
    height: 28px;
}

.nav__select{
    border: none;
    margin-top: 3px;
}