
.banners__main{
    margin-top: 12px;
    width: 600px;
    height: 90px;
    background-color: aquamarine;
}

/*.banners__content{*/
    /*padding: 10px;*/
/*}*/

.banners__sidebar-left{
    width: 300px;
    margin-top: 42px;
    height: 60px;
    background: aquamarine;
}


.banners:hover{
    box-shadow: 0 0 10px #cacaca;
}