.login{
    width: 299px;
    border: 1px solid #ebebeb;
}
.login:hover{
    box-shadow: 0 0 10px #cacaca;
}

.login__main{
    height:145px;
    padding: 5px 20px 5px;
}

.block-email{
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}

.login__footer{
    display: flex;
    height:45px;
    justify-content: center;
    border-top: 1px solid #ebebeb;
}